.navbar__container{
    display: flex important!;
    justify-content: center important!;  
}
.navbar__container ul{   
   display: flex;
   justify-content: center;
   margin: 0px;
   padding: 0px;
   flex-wrap: wrap;
}

.navbar__container li{   
    list-style:none;
}
.navbar__container a{
    text-decoration: none;  
    padding-left: 50px;
    padding-right: 50px;
    color: var(--black);
}

.navbar__container .nav__link{
    border-bottom: 3px solid var(--black); 
    text-decoration: none;
}

.navbar__container .nav__link:hover, .nav__link:focus{
    border-bottom: 3px solid var(--main-color) !important;
    outline: none;
    color:var(--main-color);
}
.navbar__container .active__link {
    border-bottom: 3px solid var(--main-color) !important;
    outline: none;
    text-decoration: none;
    color:var(--main-color);
}


