.about__me {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 30px); 
  margin-top: 10%;
}
.about__me .about__me_principal {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.about__me .about__me_principal .about__me_imagen-container {
  margin: 1%;
  text-align: justify;
}
.about__me .about__me_principal .about__me_text--container {
  display: flex;
  flex-direction: column;
  justify-content: center;  
}
.about__me .about__me_principal .about__me_text--container .about__me_text--container-skills{
       text-align: center;
       margin-top: 20px;
  }

.about__me .about__me_principal .about__me_text--container h2 {
  color: var(--main-color);
  text-align: center;
  margin-bottom: 20px;
  }

@media (max-width: 600px) {
  .about__me .about__me_principal {
    flex-wrap: wrap;
  }
  .about__me .about__me_principal .about__me_text--container h2 {
    text-align: center;
    margin-bottom: 20px;
  }

}

.about__me .about__me_principal .about__me_text--container p {
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: medium;
}

.about__me .about__me_principal .about__me_imagen-container{
display: flex;
align-items: center;
justify-content: center;
}

.about__me .about__me_principal .about__me_imagen-container img {
  height: 200px;
  width: 180px;
  border-radius: 0 50% 50% 50%;
  margin-left: 5%;
}
.about__me_text--container h3 {
  font-family: var(--font-primary);
}
