.about__me{
    display: flex;
  flex-direction: column;
 height: calc(100vh - 30px);
  margin-top: 50px;
}
.about__me .about__me_principal{
display: flex;
justify-content: flex-start;
flex-wrap: wrap;
}

.about__me .about__me_principal .about__me_imagen-container {
   margin: 1%;
}
.about__me .about__me_principal .about__me_imagen-container img{
    height: 350px;
    width: 350px;
    border-radius: 0 50% 50% 50%;
}
.about__me_text--container h3{
    font-family: var(--font-primary);
}