:root {
  --main-color: #b12a5b;
  --white: #ffffff;
  --black: black;
}
.landing__container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.landing__container .landing__first {
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 60%;
}

.landing__container .landing__first .landing__hello {
  flex-grow: 1;
  color: var(--white);
  margin-top: 25%;
}

.landing__container .landing__first .landing__hello span {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 70px;
}
.landing__container .landing__first .landing__activities {
  flex-grow: 1;
  color: var(--white);
  margin-top: 10px;
  padding-bottom: 20px;
}

.landing__container .landing__first .landing__activities span {
  font-size: 30px;
  margin-right: 10px;
}
.landing__container .landing__footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex-basis: 40%;
  align-items: stretch;
}

.landing__second {
  color: var(--black);
  margin-top: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.landing__second .landing__second-more{
  color: var(--black);
text-decoration: none;
padding: 10px;
}

.landing__second .landing__second-more:hover, .landing__second .landing__second-more:focus{
  color: var(--white);
  text-decoration: none;
  outline: 3px solid var(--main-color);
  background-color: var(--main-color);
}
.landing__second .landing__second-resume{
  color: var(--white);
  text-decoration: none;
  outline: 3px solid var(--main-color);
  background-color: var(--main-color); 
  padding: 10px;
}

.landing__second .landing__second-resume:hover,.landing__second .landing__second-resume:active{
 
  text-decoration: none;
  outline:none;
  background-color: var(--main-color); 
  box-shadow: 1px 1px var(--main-color);
  padding: 10px;
}

.landing__second > :nth-child(2) {
  border-right: 2px ridge var(--main-color);
  margin-right: 10px;
  padding-right: 10px;
  height: 100%;
}

.landing__footer {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  padding-bottom: 10px;
  text-decoration: none;
 
}
.landing__footer img {
  padding: 5px 5px;
  /* margin: 10px 5px */
}

.landing__footer > :nth-child(3) {
  margin-right: 30px;
}

.landing__footer a {
  display: flex;
  align-items: center;
  color: var(--black);
  text-decoration: none;
  margin-right: 15px;
}
.landing__footer a:hover, .landing__footer a:focus {
 color: var(--white);
text-decoration: none;
outline: 3px solid var(--main-color);
background-color: var(--main-color);
}

.landing__footer a:hover img, .landing__footer a:focus img{
  filter:brightness(4)
}