:root {
  --buttons-color: #E20040;
  --titles-color: #D3255B;
  --subtitles-color: #91878A;
  --paragraph-color: #4D3C41;
  --il-color: #ff2456;
}

body {
   margin: 0;
  font-family: "Roboto";
}

.navbar {
  background: -moz-linear-gradient(left, #db2559 0%, #db2559 14%, #db2559 22%, #db2559 60%, #ff2453 95%, #ff2453 100%) !important;
  display: flex;
  justify-content: space-between !important;
  width: 100%;
}
.navbar-nav {
  width: 100%;
  align-self: flex-end;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 5rem;
}
